body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/qpmTGjz/image-white-tourist-bus-driving-down-road-sunset-674594-30104.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
    height: 70px;
    margin-left: 20px;
}

header nav {
    float: right;
    margin-left: 1000px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 20px 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

button {
    background-color: #05064b;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a042a;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    button {
        width: 80%;
    }
}
